@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: steelblue;
  text-align: center;
  display: grid;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
  grid-gap: 10px;
}

.header {
  grid-area: h;
}

.mynavbar {
  grid-area: n;
}

.content {
  grid-area: c;
  min-height: 60vh;
}

.footer {
  grid-area: f;
  margin-top: 25px;
}
