@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body {
  margin: 0;
  padding: 0 40px 0 40px;
}

.app {
  background-color: cadetblue;
  text-align: center;
  display: grid;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
  grid-gap: 10px;
}

.header {
  grid-area: h;
}

.mynavbar {
  grid-area: n;
}

.content {
  grid-area: c;
}

.footer {
  grid-area: f;
}

#loadingpage {
  text-align: center;
  font-size: 40px;
  padding:250px;
  font-family: 'Roboto Mono', monospace;
}

