.homepage {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.homepage ul {
  list-style-type: none;
}

.homeicons {
  padding: 20px;
  background-color: #eee;
}

.homeicons span {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  color: steelblue;
}

.homeicons ul {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: steelblue;
  display: inline-flex;
}

.homeicons li {
  margin-left: 60px;
  max-width: 200px;
}

.trainers {
  margin-bottom: 40px;
  padding: 25px;
}

.trainers img {
  border-radius: 120px;
  padding: 10px 20px 10px 20px;
}

.payment {
  color: steelblue;
  background-color: #eee;
}

.payment ul {
  display: inline-flex;
}
