.shoppingCart {
  display: flex;
  padding: 15px;
  width: 55%;
  margin: auto;
}

.item-name {
  margin: auto 15px;
  color: black;
  font-weight: 600;
  width: 300px;
}

.shoppingCart button {
  font-weight: bold;
  margin: 0 5px;
}

.item-price {
  margin: auto;
  font-size: 21px;
  font-weight: 500;
}

.item-amount {
  margin: auto;
}

.item-remove {
  margin: auto;
}

.totalPrice {
  font-size: 24px;
  padding: 20px;
}
.summary button {
  margin: 0 auto;
  padding: 15px;
}

.summary-info {
  padding: 10px;
  margin: auto;
  font-size: 20px;
}

.summary-info span {
  display: block;
  color: steelblue;
  font-weight: 660;
  font-size: 25px;
  margin-bottom: 15px;
  padding: 10px;
}

.summary-info button {
  margin: 20px auto;
  text-transform: uppercase;
}

.summary-info label {
  color: black;
}

.summary-info input {
  margin: 0px;
}
