.single-product {
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  padding-top: 15px;
}

.product-name {
  font-size: 35px;
  color: steelblue;
  margin-bottom: 15px;
  font-weight: bold;
}

.product-info {
  display: inline-flex;
  margin: 15px;
}
.img-product {
  width: 20%;
}

.img-product img {
  width: 250px;
}

.tab-product {
  width: 50%;
}

.price {
  font-size: 35px;
  color: steelblue;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  width: 25%;
}

.price button {
  margin: auto;
}
